body{
    background-color:black;
    color: white;
}
.nasaNav{
    background-image: url(/starfield-banner.jpg);
    font-family: 'Saira Condensed', sans-serif;
    height:100px;
}
.nasaNav a{
    font-size: 30px;
    color:white;
}
.navlink{
    margin:10;
    padding:5;
}
.navlink:hover {
    background-color: #15418c;
    text-decoration: none;
}
.nasaNav img{
    height:100px;
}

.pBoxes{
    border: 5px solid white;
}
div.gallery {
    border: 1px solid #ccc;
    height: 350px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    
    margin-bottom:5px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }