body{
    background-color:black;
    color: white;
}
.nasaNav{
    background-image: url(starfield-banner.jpg);
    font-family: 'Saira Condensed', sans-serif;
    height:100px;
}
.nav-link a{
    font-size: 30px;
    color:white;
}
.nav-link p{
    font-size: 30px;
}
.nasaNav img{
    height:100px;
}
footer{
    bottom: 0;
    position: absolute;
}
footer img{
    height:50px;
}