body{
    background-color:black;
    color: white;
}
.nasaNav{
    background-image: url(/starfield-banner.jpg);
    font-family: 'Saira Condensed', sans-serif;
    height:100px;
}
.nasaNav a{
    font-size: 30px;
    color:white;
}
.navlink{
    margin:10;
    padding:5;
}
.navlink:hover {
    background-color: #15418c;
    text-decoration: none;
}
.nasaNav img{
    height:100px;
}
footer{
    bottom: 0;
    position: absolute;
}
footer img{
    height:80px;
}