body{
    background-color:black;
    color: white;
}
.nasaNav{
    background-image: url(starfield-banner.jpg);
    font-size: 30px;
    font-family: 'Saira Condensed', sans-serif;
    height:100px;
}