body{
    background-color:black;
    color: white;
}
.nasaNav{
    background-image: url(starfield-banner.jpg);
    font-family: 'Saira Condensed', sans-serif;
    height:100px;
}
.nav-link{
    font-size: 30px;
}
.nav-link: active{
    color:white;
}
.nasaNav img{
    height:100px;
}